<div class="card-body">
  <h5 class="card-title">{{restaurant.name}}</h5>
  <p class="card-text">[{{restaurant.Category.name}}]</p>

  <hr>

  <ul>
    <li>評論數：{{counts}}</li>
    <li>瀏覽次數：{{restaurant.viewCounts}}</li>
    <li>收藏數：</li>
  </ul>

</div>

<br/>
<br/>

<a href="javascript:history.back()">回上一頁</a>
