<div class="container">
  <div class="card mt-1">
    <div class="d-flex">
      <img class="m-4" src="{{user.image}}" style="width: 250px; height: 250px">
      <div class="mt-4 ml-2">
        <h2>{{user.name}}</h2>
        <p>{{user.email}}</p>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
      </div>
    </div>
  </div>
</div>