<div class="row mt-3">
    <div class="col-md-4">
        <img class="img-responsive center-block" src="https://i.epochtimes.com/assets/uploads/2021/08/id13156667-shutterstock_376153318-450x322.jpg" style="width: 300px;margin-bottom: 25px;">
    </div>
    <div class="col-md-8">
        <strong>VV</strong>
        <p>VV</p>
        <a type="button" class="btn btn-primary" href="/users/:id/edit">edit</a>
    </div>
</div>