
  <div class="row mt-5">
    <div class="col-5">
      <img class="img-responsive center-block" src="{{user.image}}" style="width: 200px;border-radius: 50%">
    </div>
    <div class="col-7">
      <h3>{{user.name}}</h3>
      <h5>{{user.email}}</h5>
      <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
    </div>
    <hr>
  </div>

<br />
<br />